#nav {
  height: 70px;
  display: flex;
  background-color: #0046be;
  justify-content: space-around;
  color: white;
  align-items: center;
}
#nav-left > div > img {
  width: 130px;
  background-size: cover;
}
#nav-left {
  display: flex;
  align-items: center;
}
#nav-left > div + div {
  font-size: 14px;
  margin-left: -16px;
}
