* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav-main {
  background-color: #0046be;
}
#nav {
  width: 65%;
  height: 70px;
  display: flex;
  background-color: #0046be;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: auto;
}
#nav-left > div > img {
  width: 80px;
  background-size: cover;
  cursor: pointer;
}
#nav-left {
  display: flex;
  align-items: center;
}
#nav-left > div + div {
  font-size: 14px;
  letter-spacing: 1.5px;
  /* margin-left: -16px; */
}
#nav-right a {
  text-decoration: none;
  color: aliceblue;
}
